$headline-font: "Oswald", Helvetica, Arial, sans-serif;
$body-font: "Quattrocento", Helvetica, Arial, sans-serif;
$wirsing-color: #81BD58;
$wirsing-light: lighten($wirsing-color, 15%);

$default-margin-bottom: 2rem;
