$headline-font: "Oswald", Helvetica, Arial, sans-serif;
$body-font: "Quattrocento", Helvetica, Arial, sans-serif;
$brand-color: #F0AE64;
$brand-light: lighten($brand-color, 15%);

$default-margin-bottom: 2rem;
