<section id="about-you" class="about-you">
  <h2 class="headline">About You</h2>
  <h3>We are looking for people with one or more of these skills</h3>
  <ul>
    <li>Food Waste Experts</li>
    <li>Developers</li>
    <li>Designers</li>
    <li>UX Designers</li>
    <li>Entrepreneurs</li>
  </ul>
  <hr />
</section>
