<section class="banner">
  <div class="wrapper">
    <div class="banner-words">
      <h1 class="banner-headline headline">Foodhack Vienna</h1>
      <h2 class="banner-subheadline headline">March 28 and 29th, 2015</h2>
      <h2 class="banner-subsubheadline headline">You Can Help Austria Eliminate Food Waste</h2>
    </div>
  </div>
</section>
