<section class="banner">
  <div class="wrapper">
    <div class="banner-words">
      <h1 class="banner-headline headline">Refugee Hack Vienna</h1>
      <h2 class="banner-subheadline headline">October 9th - 11th, 2015</h2>
      <h2 class="banner-subsubheadline headline">Help with the Refugee Crisis</h2>
      <a class="subscribe button" href="http://bit.ly/refugeehackvienna">
        Click here to stay up to date!
      </a>
    </div>
  </div>
</section>
