<section id="benefits" class="benefits">
  <div class="benefit">
    <h2 class="headline">Improve Your Community</h2>
    <p class="benefit-text">
      If you have been looking for a way to use skills you already have to make Austria better, we would like to talk.
    </p>
  </div>
  <div class="benefit">
    <h2 class="headline">Have a Great Time Doing It</h2>
    <p class="benefit-text">
      We aim to make this as fun as possible. If you've ever been to a hackathon or a startup weekend event, you will know that they can be stressful. We will do whatever we can to help you be comfortable and we will provide food and refreshments to keep you energized.
    </p>
  </div>
  <div class="benefit">
    <h2 class="headline">Meet Other Civics Hackers</h2>
    <p class="benefit-text">
      This is a great opportunity to meet fellow hackers. It is also a great chance to meet people with complementary skills if you are looking for a partner for a project or product.
    </p>
  </div>
  <hr />
</section>
