<section id="collaborators">
  <h3 class="headline">in collaboration with …</h3>
  <div class="collaborators">
    <% data.refugeehack1.sponsors.each do |sponsor| %>
      <div class="collaborator">
        <a href="<%= sponsor.link %>" target="_blank">
          <img src="<%= sponsor.image %>" />
        </a>
      </div>
    <% end %>
  </div>
</section>
