<section id="newsletter" class="cta">
  <h2 class="headline">Be The First To Hear About Next Year</h2>
  <h3 class="sidenote">you’ll get a message when we have more details</h3>
  <!-- Begin MailChimp Signup Form -->
  <form action="//wirsing.us9.list-manage.com/subscribe/post?u=7d6811387a9637d0a71605d23&amp;id=21eed49b7a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="input-group">
        <input type="email" placeholder="email address" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        <input type="text" value="true" name="NEWSWIRSIN" class="hidden" id="mce-NEWSWIRSIN">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
      <div class="wirsing">
        <label for="wirsing-newsletter">
          <h5 class="wirsing-newsletter-headline">
            <input id="wirsing-newsletter" type="checkbox" checked />
            &nbsp; Keep me updated about other wirsing.io news and events
          </h5>
        </label>
      </div>
      <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  </form>

  <hr />
</section>
