<section id="description" class="description">
  <div class="wrapper">
    <div class="explanation">
      <h2 class="headline">What is Foodhack?</h2>
      <p>Foodhack is a 2 day contest where developers, graphic/web/UX designers and food waste experts come together and build software to help fix Austria's food waste problem.</p>
    </div>
    <div class="explanation">
      <h2 class="headline">What is a Hackathon?</h2>
      <p>
        Teams can be of two to four members. You will go from morning until evening (with breaks), sharing ideas and working together to build something awesome.
        <br />
        A team of judges will pick a winner and you can bathe in the glory of your environment saving work.
      </p>
    </div>

    <div class="explanation">
      <h2 class="headline">Project Info</h2>
      <p>You don't have to know a lot about our current food waste problems. Over the next months we will be researching project ideas and we will provide information, data and sources.</p>
      <p>So make sure you sign up for updates!</p>
    </div>

    <div class="explanation">
      <h2 class="headline">Is There Anything Else?</h2>
      <p>We provide fresh, organic meals and snacks while you work on your projects.</p>
    </div>
  </div>
  <hr />
</section>
