<section id="description" class="description">
  <div class="wrapper">
    <div class="explanation">
      <h2 class="headline">What is Refugee Hack Vienna?</h2>
      <h3 class="main-link"><a href="http://bit.ly/refugeehackvienna">Click here</a> to stay up to date!</h3>
      <p>
        Refugee Hack is a 2 days and 1 evening contest where developers, graphic/web/UX designers and project managers come together and build software to help refugees in Austria either directly or indirectly. We will define concrete project outlines beforehand, so that you can focus completely on building something great and useful.
      </p>
      <p>
        The 1st Refugee Hack Vienna will be part of Europe Code week, that takes place at the same time in many European cities.  
        Depending on how many participants there will be, we will split up in teams of around 20 people to different co-working spaces in Vienna. Every team will work on one project and at the end the jury will choose a winner.
      </p>
    </div>
    <div class="explanation">
      <h2 class="headline">What is a Hackathon?</h2>
      <p>
        Teams will work all weekend long on an App or Website (about 8 hours days). A team of judges will pick a winner and you had a fun weekend and met interesting people. At the refugee hackathon you have the special bonus that you helped refugees by doing something that you enjoy.
      </p>
    </div>

    <div class="explanation">
      <h2 class="headline">Project Info</h2>
      <p>
        You don't have to be involved in refugee help projects or have in-depth knowledge of the problems they might be having. We do the research for you and will have a very good outline of what software solutions could be by the time the hackathon will start.
        However we are thankful for all ideas on how a technical solution can help refugees directly or indirectly (by helping organize the help). Contact us at team@hackathon.wien or on facebook.
      </p>
    </div>
    <div class="explanation">
      <h2 class="headline">Is There Anything Else?</h2>
      <p>We provide fresh meals and snacks while you work on your project.</p>
    </div>
  </div>
  <hr />
</section>
