<footer>
  <h3 class="headline">Brought to you by</h3>
  <a class="wirsing" href="http://wirsing.io">
    <img src="/images/logos/wirsing_logo.svg" />
  </a>

  <h3 class="headline">in collaboration with …</h3>
  <ul class="collaborators">
    <li class="adamah">
      <a href="http://www.adamah.at/" target="_blank">
        <img src="/images/logos/adamah_logo.png" />
      </a>
    </li>
    <li class="magdas">
      <a href="http://www.magdas-hotel.at/" target="_blank">
        <img src="/images/logos/magdas_hotel_logo.png" />
      </a>
    </li>
    <li class="wiener-tafel">
      <a href="http://www.wienertafel.at/" target="_blank">
        <img src="/images/logos/wienertafel_logo.png" />
      </a>
    </li>
    <li class="zero-waste-jam">
      <a href="http://zerowastejam.com/en/" target="_blank">
        <img src="/images/logos/zero_waste_jam_logo.png" />
      </a>
    </li>
    <li class="porcella">
      <a href="http://www.porcella.at/" target="_blank">
        <img src="/images/logos/porcella_logo.png" />
      </a>
    </li>
    <li class="issmich">
      <a href="http://www.issmich.at/" target="_blank">
        <img src="/images/logos/issmich_logo.jpeg" />
      </a>
    </li>
    <li class="thegoodtribe">
      <a href="http://www.thegoodtribe.com/" target="_blank">
        <img src="/images/logos/thegoodtribe_logo.png" />
      </a>
    </li>
    <li class="stockwerk">
      <a href="http://www.stockwerk.co.at/" target="_blank">
        <img src="/images/logos/stockwerk_logo.png" />
      </a>
    </li>
    <li class="cospace">
      <a href="http://www.co-space.net/" target="_blank">
        <img src="/images/logos/cospace_logo.jpeg" />
      </a>
    </li>
    <li class="impacthub">
      <a href="http://vienna.impacthub.net/" target="_blank">
        <img src="/images/logos/impacthub_logo.jpg" />
      </a>
    </li>
    <li class="partycipation">
      <a href="http://www.partycipation.at/" target="_blank">
        <img src="/images/logos/partycipation_logo.png" />
      </a>
    </li>
    <li class="sektor5">
      <a href="http://www.sektor5.at/" target="_blank">
        <img src="/images/logos/sektor5_logo.png" />
      </a>
    </li>
  </ul>

  <h3 class="headline">sponsored by</h3>
  <ul class="sponsors">
    <li class="codeship">
      <a href="https://codeship.com/?utm_source=offline&utm_medium=event&utm_campaign=foodhack" target="_blank">
        <img src="/images/logos/codeship_logo.png" />
      </a>
    </li>
  </ul>
</footer>
