<section id="location" class="location">
  <div class="container">
    <h2 class="headline">Location</h2>
    <div class="location-map">
      <iframe src="https://mapsengine.google.com/map/embed?mid=zPHYvzyoYERw.kxjHQg0ISdTc" width="100%" height="300"></iframe>
    </div>
    <div class="location-info">
      <address>
        <strong class="headline">Stockwerk Coworking</strong>
        <br />
        Pater-Schwartz-Gasse 11A
        <br />
        1150 Wien
      </address>
    </div>

    <div class="location-info">
      <address>
        <strong class="headline">Sektor5 Coworking</strong>
        <br />
        Siebenbrunnengasse 44
        <br />
        1050 Wien
      </address>
    </div>
  </div>
  <hr />
</section>
