<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <!-- <li class="nav-link"><a href="/blog">Blog</a></li> -->
        <li class="nav-link">
          <a class="facebook" href="https://www.facebook.com/events/303526336437870/" target="_blank">
            <%= image_tag 'icons/find-us-on-facebook.svg' %>
          </a>
        </li>
        <li class="nav-link logo">
          <a href="/" class="logo">
            Refugee Hack Vienna
          </a>
        </li>
        <li class="nav-link"><a href="mailto:team@hackathon.wien">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
