<section id="prizes" class="prizes">
  <h2 class="headline">The Prizes Were</h2>
  <p class="main-description">
    The prizes were directed at helping the teams become a real business after the hackathon. A group of judges listened to the pitches and chose a winner. Here were the prizes.
  </p>

  <dl>
    <dt>2 days of coaching with wirsing.io</dt>
    <dd>Wirsing Software will use their years of combined software development experience to help push you in a viable direction with your new project.</dd>
    <dt>1 hour sustainable strategy planing</dt>
    <dd>Work with The Good Tribe (using the sustainable Methodkit) to develop you sustainable strategy.</dd>
    <dt>A night at Magdas</dt>
    <dd>Magdas is a hotel from Caritas where most of the staff is made up of refugees.</dd>
    <dt>Co Space desks</dt>
    <dd>There's plenty of space in their new street level loft. The winners can spend two weeks there to keep working on their ideas.</dd>
    <dt>Sektor 5 Coworking flex desk</dt>
    <dd>You will receive desks for you team members where you can continue work on your project.</dd>
    <dt>Stockwerk Coworking flex desk</dt>
    <dd>If you would like a change of environment, you will have desks at this great coworking space too.</dd>
    <dt>CO SPACE coworking desks</dt>
    <dd>A newer coworking space.</dd>
    <dt>Impact Hub desks</dt>
    <dd>A coworking space based around making positive change.</dd>
    <dt>Adamah Organic Boxes</dt>
    <dd>Get boxes of organic fruits and vegatables delivered to your house.</dd>
    <dt>6 Months Blossom.io Membership</dt>
    <dd>blossom.io, a Viennese startup, is a project management tool for software development.</dd>
    <dt>Partycipation Music Festival Tickets</dt>
    <dd>You will get tickets and a chance to present your project on stage to help get more traction.</dd>
  </dl>
  <hr />
</section>
