<section id="team" class="team">
  <h2 class="headline">Refugee Hack Team</h2>
  <div class="team-container">
    <% data.refugeehack1.team.each do |member| %>
      <div class="team-member">
        <img src="<%= member.avatar %>" alt="" />
        <h3 class="team-member-name"><%= member.name %></h3>
      </div>
    <% end %>
  </div>
</section>

